# Environment
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/heig_odyssey?schema=public"

# Redis Cache & Events
REDIS_URL="redis://localhost:6379"

# Better Auth Configuration
BETTER_AUTH_SECRET="change-me-to-a-random-secret-key-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Resend Email (Optionnel en local, les emails seront affichés dans la console si non défini)
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@heig-odyssey.online"
